<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    table {
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 18px;
    }

    table td, table th {
        border: 1px solid #ccc;
        padding: 5px;
    }

    table th {
        background: #eee;
    }
    div {
        padding: 7px;
        padding-right: 20px;
        border: solid 1px black;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 13pt;
        background: #E6E6FA;
       }
</style>
</head>
<body>
<h1>Здравствуйте, {{user}}! Вот ваш список дел:</h1>
<div style="float: left">
    {% if flag==false %}
    <form method="POST" action="#" name="myform">
        <input type="text" name="description" placeholder="Описание задачи" value="" />
        <input type="submit" name="save" value="Добавить" />
    </form>
    {% else %}
    <form method="POST" action="#" name="myform">
        <input type="text" name="description" placeholder="Описание задачи" value="{{str}}" />
        <input type="submit" name="save" value="Сохранить" />
    </form>
   {% endif %}
</div>

    <table>
      <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>
    <br><br><br>
{% for t in arrTable %}
     <tr>
        <td>{{t.description}}</td>
        <td>{{t.date_added}}</td>
        <td>
            {% if t.is_done == 0 %}
            <span style='color: orange'>В процессе</span>
            {% else %}
            <span style='color: green'>Выполнено</span>
            {% endif %}
        </td>
        <td>
            <a href='?id={{t.id}}&action=edit'>Изменить</a>
            <a href='?id={{t.id}}&action=done'>Выполнить</a>
            <a href='?id={{t.id}}&action=delete'>Удалить</a>
        </td>
        <td>{{t.assigned_name}}</td>
        <td>{{t.user_name}}</td>
        <td>
            <form method='POST'>
                <select name='assigned_user_id'>
                {% for ch in arrUsers %}
                    <option value="user_{{ch.id}}-task_{{t.id}}">{{ch.login}}</option>
                {% endfor %}
                </select>
            <input type='submit' name='assign' value='Переложить ответственность' />
            </form>
        </td>
        </tr>
{% endfor %}
</table>

<h3>Также, посмотрите, что от Вас требуют другие люди:</h3>
    <table>
      <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
    </tr>
    <br><br><br>
    {% set continue = false %}
    {% for t in arrUserTask %}
        {% if t.user_name == user %}
            {% set continue = true %}
        {% endif %}
        {% if not continue %}
        <tr>
            <td>{{t.description}}</td>
            <td>{{t.date_added}}</td>
            <td>{% if t.is_done == 0 %}
                <span style='color: orange'>В процессе</span>
                {% else %}
                <span style='color: green'>Выполнено</span>
                {% endif %}
            </td>
            <td>
                <a href='?id={{t.id}}&action=done'>Выполнить</a>
            </td>
            <td>{{t.assigned_name}}</td>
            <td>{{t.user_name}}</td>
        </tr>
        {% endif %}
        {% set continue = false %}
    {% endfor %}
</table>
<h3><a href='logout.php'>Выход</a></h3>
</body>
</html>